<div class="container-fluid" style="padding-top: 40px; padding-bottom: 20px;">
    <div id="overlay" *ngIf="!menusCharger;">
        <div id="text">Chargement des entrées en cours...</div>
    </div> 

    <div class="row aff_mobile" *ngFor="let i of menus" style="margin-bottom: 20px;" >
        <div class="col-md-2">            
        </div>

        <div class="col-md-6">
            <h2>{{i.nom | uppercase}}</h2>
            <p>{{i.ingredient}}</p>
        </div>
        <div class="col-md-2">
            {{i.prix}}
        </div>

        <div class="col-md-2">            
        </div>
    </div>
</div>
