<div class="row">
    <div 
        class="col-md-12 col-sm-12 col-xs-12 pull-left alert alert-warning action_mobile_warning"
    >
        <strong>Cliquer sur un nom de menu pour modifier ou suppimer</strong>
    </div>
</div><br>
<div class="row">
    <div class="col-md-4 pull-left">
        <a 
            class="btn waves-effect waves-light btn-primary pull-left "
            style="color: #fff; background: #0275d8 !important; border: 1px solid #0275d8;"
            routerLink="/admin/ajoutmenu"
        >
            Ajouter un nouveau Menu
        </a>    
    </div>
</div><br>

<div class="row" *ngIf="insertOrList;">
    <div class="col-md-12">
        <div class="alert alert-success">
            <strong>un nouveau Menu a été ajouté avec succès !</strong>
        </div>
    </div>
</div>

<div class="row" *ngIf="deleted;">
    <div class="col-md-12">
        <div class="alert alert-success">
            <strong>un Menu a été supprimé avec succès !</strong>
        </div>
    </div>
</div>

<div class="row" *ngIf="modified;">
    <div class="col-md-12">
        <div class="alert alert-success">
            <strong>un Menu a été modifié avec succès !</strong>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block bg-info">
                <h4 class="text-white card-title">Liste des Menus</h4>
            </div>             
            <div class="card-block">              
                <div class="table-responsive">
                    <div id="overlay" *ngIf="!menusCharger;">
                        <div id="text">Chargement des Menus en cours...</div>
                    </div>                     
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prix</th>
                                <th class="action_mobile">Ingrédient</th>
                                <th class="action_mobile">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let menu  of menus">
                                <td (click)="ngxSmartModalService.getModal('modifierModal').open(); modifierMenu(menu);">
                                    {{menu.nom | uppercase}}
                                </td>
                                <td>{{menu.prix}}</td>
                                <td class="action_mobile">{{menu.ingredient}}</td>
                                <td style="width: 25%;" class="action_mobile">
                                    <a 
                                        class="btn waves-effect waves-light btn-primary pull-left "
                                        style="color: #fff; background: #f07f0a !important; border: 1px solid #f07f0a; margin-right: 5px;"
                                        (click)="ngxSmartModalService.getModal('modifierModal').open(); modifierMenu(menu);"
                                    >
                                        Modifier
                                    </a>
                                    <a 
                                        class="btn waves-effect waves-light btn-primary pull-left  dialog__close-btn ng-tns-c5-2 ng-star-inserted"
                                        style="color: #fff; background: red !important; border: 1px solid red;"                                        
                                        (click)="ngxSmartModalService.getModal('myModal').open(); supprimerMenu(menu);"
                                    >
                                        Supprimer
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-smart-modal #myModal identifier="myModal">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Attention</h4>
    </div>

    <div class="modal-body">
        <h3>Voulez vous vraiment supprimer ce menu ?</h3>       
    </div>

    <div class="modal-footer">
        <a 
            type="button" 
            class="btn btn-default" 
            data-dismiss="modal"
            style="color: #fff; background: red !important;"
            routerLink="/admin/deletemenu/{{idMenuTodelete}}"
        >
            Supprimer
        </a>
        <button 
            type="button" 
            class="btn btn-primary"
            style="color: #fff; background: #f07f0a !important; border: 1px solid #f07f0a;" 
            (click)="myModal.close()"
        >
            Annuler
        </button>
    </div>
</ngx-smart-modal>

<ngx-smart-modal #modifierModal identifier="modifierModal">
    <div *ngIf="menuToModifier">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">
                Modification du menu {{menuToModifier.nom}}
            </h4>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <form #men="ngForm" (ngSubmit)="onClickSubmit(men.value)" method="PUT">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Nom du menu
                                </th>
                                <th>
                                    <input 
                                        type="text" 
                                        placeholder="Nom de la boisson" 
                                        class="form-control form-control-line"
                                        name="nom"
                                        ngModel="{{menuToModifier.nom}}"
                                    >
                                </th>
                            </tr>
                            <tr>
                                <th>Prix</th>
                                <th>
                                    <input 
                                        type="text" 
                                        placeholder="Prix pour les 33cl" 
                                        class="form-control form-control-line"
                                        name="prix"
                                        ngModel="{{menuToModifier.prix}}"
                                    >                                   
                                </th>
                            </tr>
                            <tr>
                                <th>Ingrédient</th>
                                <th>
                                    <input 
                                        type="text" 
                                        placeholder="Prix pour les 50cl" 
                                        class="form-control form-control-line"
                                        name="ingredient"
                                        ngModel="{{menuToModifier.ingredient}}"
                                    >                                   
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <a 
                                        class="btn waves-effect waves-light btn-primary pull-left dialog__close-btn ng-tns-c5-2 ng-star-inserted action_mobile_warning"
                                        style="color: #fff; background: red !important; border: 1px solid red;"                                        
                                        (click)="ngxSmartModalService.getModal('modifierModal').close(); ngxSmartModalService.getModal('myModal').open(); supprimerMenu(menuToModifier);"
                                    >
                                        Supprimer
                                    </a>                                    
                                </th>
                                <th>
                                    <input 
                                        type="hidden"
                                        name="id"
                                        ngModel="{{menuToModifier.id}}"
                                    >
                                    <input 
                                        type="submit" 
                                        value="Modifier"
                                        class="btn waves-effect waves-light pull-left "
                                        style="color: #fff; background: #097912 !important; border: 1px solid #097912 !important; margin-right: 10px;"
                                    >
                                    <a 
                                        class="btn waves-effect waves-light pull-left "
                                        style="color: #fff; background: #f0a00e !important; border: 1px solid #d8aa02"
                                        (click)="modifierModal.close()"
                                    >
                                        Annuler
                                    </a>                                    
                                </th>
                            </tr>
                        </thead>
                    </table>
                </form>
            </div>            
        </div>
    </div>
</ngx-smart-modal>