<div class="container">

    <div class="row">
        <div class="col-md-2">
            
        </div>
        <div class="col-md-8">
            <div 
                data-packed="true" 
                class="txtNew" 
                id="comp-ikmq713k"
                style="margin-bottom: 50px;" 
            >
                <h4  
                    class="font_4" 
                    style="line-height:1.05em; text-align:center; font-size: 78px !important; margin-top: 40px;"
                >
                    <span id="font-mobile" style="letter-spacing:-0.05em;">
                        Bienvenue au DaKoTa restaurant
                    </span>
                </h4>
            </div>
            <div 
                data-packed="true" 
                class="txtNew" 
                id="comp-ikmqg4b9" 
            >
                <p 
                    class="font_8" 
                    style="line-height:1.6em; text-align:center; margin-bottom: 40px;"
                >
                    Venez découvrir une cuisine authentique près des Champ élysée à Paris, de grand chefs vous attendent pour vous faire découvrir une cuisine française très goutu....
                </p>
            </div>            
        </div>
        <div class="col-md-2">
            
        </div>
    </div>

</div>