<!-- Menu -->
<div class="menu">
	<div class="container" id="menu-bureau">
		<div class="row">
			<div class="col-md-2">
				<a 
					target="_self" 
					role="button" 
					id="comp-itb5kbcnlink" 
					class="b4link"
					style="margin-left: 20px;" 
					(click)="goTo('#home')"
				>
					<span 
						id="comp-itb5kbcnlabel" 
						class="b4label"
						style="font: normal normal normal 25px/1.4em 'playfair display',serif;" 
					>
						Le Dakota
					</span>
				</a>
			</div>
			<div class="col-md-8">
				<div class="row">
						<div class="col-md-2">							
						</div>

						<div class="col-md-8">
							<div class="row">
								<div class="col-md-3">
									<a 
										class="pull-left"
										(click)="goTo('#home')"
									>
										ACCUEIL
									</a>						
								</div>
								<div class="col-md-3">
									<a 
										class="text-center"
										(click)="goTo('#presentation')"
									>
										PRESENTATION
									</a>
								</div>
								<div class="col-md-3">
									<a 
										class="pull-right"
										(click)="goTo('#menu')"
									>
										MENU
									</a>
								</div>
								<div class="col-md-3">
									<a 
										class="pull-right"
										(click)="goTo('#contact')"
									>
										CONTACT
									</a>
								</div>									
							</div>
						</div>

						<div class="col-md-2">							
						</div>											
				</div>
			</div>
			<div class="col-md-2">
				<a 
					routerLink="/"				 
				>
					<img src="assets/images/logo/logo_fb.png">
				</a>
				<a 
					routerLink="/"					 
				>
					<img src="assets/images/logo/logo_instagram.png">
				</a>
				<a 
					routerLink="/"					 
				>
					<img src="assets/images/logo/logo-o_o.png">
				</a>
				<a 
					routerLink="/"					 
				>
					<img src="assets/images/logo/logo_etoil.png">
				</a>				
			</div>				
		</div>
	</div>
	<div class="container-fluid" id="menu-bureau-small">
		<div class="row">
			<div class="col-md-2">
				<a 
					target="_self" 
					role="button" 
					id="comp-itb5kbcnlink" 
					class="b4link"
					style="margin-left: 20px;" 
					(click)="goTo('#home')"
				>
					<span 
						id="comp-itb5kbcnlabel" 
						class="b4label"
						style="font: normal normal normal 25px/1.4em 'playfair display',serif;" 
					>
						Le Dakota
					</span>
				</a>
			</div>
			<div class="col-md-1">
			</div>
			<div class="col-md-6">
							<div class="row">
								<div class="col-md-3">
									<a 
										class="pull-left"
										(click)="goTo('#home')"
									>
										ACCUEIL
									</a>						
								</div>
								<div class="col-md-3">
									<a 
										class="text-center"
										(click)="goTo('#presentation')"
									>
										PRESENTATION
									</a>
								</div>
								<div class="col-md-3">
									<a 
										class="pull-right"
										(click)="goTo('#menu')"
									>
										MENU
									</a>
								</div>
								<div class="col-md-3">
									<a 
										class="pull-right"
										(click)="goTo('#contact')"
									>
										CONTACT
									</a>
								</div>									
							</div>
			</div>
			<div class="col-md-1">
			</div>
			<div class="col-md-2">
				<a 
					routerLink="/"				 
				>
					<img src="assets/images/logo/logo_fb.png">
				</a>
				<a 
					routerLink="/"					 
				>
					<img src="assets/images/logo/logo_instagram.png">
				</a>
				<a 
					routerLink="/"					 
				>
					<img src="assets/images/logo/logo-o_o.png">
				</a>
				<a 
					routerLink="/"					 
				>
					<img src="assets/images/logo/logo_etoil.png">
				</a>				
			</div>					
		</div>
	</div>
	<div class="container-fluid" id="menu-tablet">
		<div class="row">
			<div class="col-md-2">
				<a 
					target="_self" 
					role="button" 
					id="comp-itb5kbcnlink" 
					class="b4link"
					style="margin-left: 20px;" 
					(click)="goTo('#home')"
				>
					<span 
						id="comp-itb5kbcnlabel" 
						class="b4label"
						style="font: normal normal normal 25px/1.4em 'playfair display',serif;" 
					>
						Le Dakota
					</span>
				</a>
			</div>
			<div class="col-md-6">
				<div class="row">
						<div class="col-md-2">							
						</div>

						<div class="col-md-10">
							<div class="row">
								<div class="col-md-3">
									<a 
										class="pull-left"
										(click)="goTo('#home')"
									>
										ACCUEIL
									</a>						
								</div>
								<div class="col-md-3">
									<a 
										class="text-center"
										(click)="goTo('#presentation')"
									>
										PRESENTATION
									</a>
								</div>
								<div class="col-md-3">
									<a 
										class="pull-right"
										(click)="goTo('#menu')"
									>
										MENU
									</a>
								</div>
								<div class="col-md-3">
									<a 
										class="pull-right"
										(click)="goTo('#contact')"
									>
										CONTACT
									</a>
								</div>									
							</div>
						</div>
											
				</div>
			</div>
			<div class="col-md-1">
				
			</div>
			<div class="col-md-3">
				<a 
					routerLink="/"				 
				>
					<img src="assets/images/logo/logo_fb.png">
				</a>
				<a 
					routerLink="/"					 
				>
					<img src="assets/images/logo/logo_instagram.png">
				</a>
				<a 
					routerLink="/"					 
				>
					<img src="assets/images/logo/logo-o_o.png">
				</a>
				<a 
					routerLink="/"					 
				>
					<img src="assets/images/logo/logo_etoil.png">
				</a>				
			</div>	
						
		</div>
	</div>
	<div class="container-fluid" id="menu-tablet-min">
		<div class="row">
			<div class="col-md-2">
				<a 
					target="_self" 
					role="button" 
					id="comp-itb5kbcnlink" 
					class="b4link"
					style="margin-left: 20px;" 
					(click)="goTo('#home')"
				>
					<span 
						id="comp-itb5kbcnlabel" 
						class="b4label"
						style="font: normal normal normal 25px/1.4em 'playfair display',serif;" 
					>
						Le Dakota
					</span>
				</a>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-3">
						<a 
							class="pull-left"
							(click)="goTo('#home')"
						>
							ACCUEIL
						</a>						
					</div>
					<div class="col-md-3">
						
						<a 
							class="text-center"
							(click)="goTo('#presentation')"
						>
							PRESENTATION
						</a>
					</div>
					<div class="col-md-3">
						<a 
							class="pull-right"
							(click)="goTo('#menu')"
						>
							MENU
						</a>
					</div>
					<div class="col-md-3">
						<a 
							class="pull-right"
							(click)="goTo('#contact')"
						>
							CONTACT
						</a>
					</div>	
										
				</div>
			</div>
			<div class="col-md-1">
				
			</div>
			<div class="col-md-3">
						<a 
							routerLink="/"				 
						>
							<img src="assets/images/logo/logo_fb.png">
						</a>
						<a 
							routerLink="/"					 
						>
							<img src="assets/images/logo/logo_instagram.png">
						</a>
						<a 
							routerLink="/"					 
						>
							<img src="assets/images/logo/logo-o_o.png">
						</a>
						<a 
							routerLink="/"					 
						>
							<img src="assets/images/logo/logo_etoil.png">
						</a>			
					</div>	
						
		</div>
	</div>

	<div id="menu-mobile">
		<div class="topnav" id="myTopnav">
			<a 
					target="_self" 
					role="button" 
					id="comp-itb5kbcnlink" 
					class="b4link"
					style="margin-left: 20px;" 
					(click)="goTo('#home')"
				>
					<span 
						id="comp-itb5kbcnlabel" 
						class="b4label"
						style="font: normal normal normal 25px/0.4em 'playfair display',serif;" 
					>
						Le Dakota
					</span>
					&nbsp;&nbsp;
			</a>
			  <a 
					
					(click)="goTo('#home')"
				>
					ACCUEIL
				</a>	
			  <a 
					
					(click)="goTo('#presentation')"
				>
					PRESENTATION
				</a>
			  <a 
				
				(click)="goTo('#menu')"
				>
					MENU
				</a>
				<a 
					
					(click)="goTo('#contact')"
				>
					CONTACT
				</a>
			 
			  <a href="javascript:void(0);" style="font-size:15px;" class="icon" (click)="myFunction()">&#9776;</a>
		</div>
		
		
	</div>
</div>
<!-- Fin menu -->

<div 
	id="content" 
>

	<div id="home">
		<app-home></app-home>
	</div>

	<div id="presentation">
		<app-presentation></app-presentation>
	</div>
	
	<div id="menu">
		<div class="block-menu">
			<div class="block-menu-container">
				<div parallax class="parallax-entrees" [config]="{axis: X, speed: -.0}">
					<h4 class="font_4">
						Nos entrées
					</h4>
				</div>
				<app-menu></app-menu>
			</div>
		</div>

		<div class="block-menu">
			<div class="block-menu-container">
				<div parallax class="parallax-plats" [config]="{axis: X, speed: -.0}">
					<h4 class="font_4">
						Nos plats
					</h4>
				</div>		
				<app-plat></app-plat>
			</div>
		</div>

		<div class="block-menu">
			<div class="block-menu-container">
				<div parallax class="parallax-pizza" [config]="{axis: X, speed: -.0}">
					<h4 class="font_4">
						Nos pizzas
					</h4>
				</div>	
				<app-pizza></app-pizza>
			</div>
		</div>

		<div class="block-menu">
			<div class="block-menu-container">
				<div parallax class="parallax-desserts" [config]="{axis: X, speed: -.0}">
					<h4 class="font_4">
						Nos desserts
					</h4>
				</div>	
				<app-dessert></app-dessert>	
			</div>
		</div>

		<div class="block-menu">
			<div class="block-menu-container">
				<div parallax class="parallax-boissons" [config]="{axis: X, speed: -.0}">
					<h4 class="font_4">
						Nos boissons
					</h4>
				</div>
				<div class="container">
					<div class="tabs">
						<nav class="tabMenu">
							<div class="row">
								<div class="col-md-6 tabMenuList current" (click)="openTab('des', $event)">Nos Boissons</div>
								<div class="col-md-6 tabMenuList" (click)="openTab('vin', $event)">Nos Vins</div>
							</div>
						</nav>
						<div class="tab" id="des">
							<app-boisson></app-boisson>
						</div>
						<div class="tab hide-content" id="vin">
							<app-vins2></app-vins2>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="block-menu">
			<div class="block-menu-container">
				<div parallax class="parallax-platdujour" [config]="{axis: X, speed: -.0}">
					<h4 class="font_4">
						Plat du jour & Suggestion
					</h4>
				</div>
				<app-platdujour></app-platdujour>
			</div>
		</div>
	</div>

	<div id="contact">
		<app-contact></app-contact>
	</div>

</div>