<agm-map [latitude]="lat" [longitude]="lng">
	<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<div style="background: #e8e8e8;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7">
				<div 
					data-packed="true" 
					class="txtNew" 
					id="comp-ikmsbhic" 
					style="margin-top: 50px;"
				>
					<h4 class="font_4" style="line-height:1em; text-align:center;">
						<a 
							href="#" 
							target="_self"
							style="color: #2F2E2E !important;" 
						>
							DaKoTa
						</a>
					</h4>
					<p 
						class="font_9" 
						style="line-height:1em; text-align:center;"
					>
						RESTAURANT
					</p>				
				</div>			
			</div>
			<div class="col-md-5" style="margin-top: 50px;">
				<p class="font_9">
					CONTACT
				</p>
				<table>
					<tr>
						<td style="vertical-align: top;">
							<img src="assets/images/icons8-location-64.png" style="width: 60%;">
						</td>
						<td>
							<p class="font_9 color_15">
								24 avenue Marceau , 75008 Paris
							</p>
							<hr>							
						</td>
					</tr>
					<tr>
						<td style="vertical-align: top;">
							<img src="assets/images/icons8-phone-64.png" style="width: 60%;">
						</td>
						<td>
							<p class="font_9 color_15">
								01 75 88 99 00
							</p>
							<hr>						
						</td>
					</tr>
					<tr>
						<td style="vertical-align: top;">
							<img src="assets/images/icons8-time-80.png" style="width: 64%;">
						</td>
						<td>
							<p class="font_9 color_15">
								Ouvert de 11 h à 15 h et de 18h à 23h30
							</p>
							<hr>							
						</td>
					</tr>
					<tr>
						<td style="vertical-align: top;">
							<img src="assets/images/icons8-bank-cards-80.png" style="width: 64%;">
						</td>
						<td>
							<p class="font_9">
							Carte bleu , ticket restaurant et<br>
							chèques vacances accépté
							</p>
							<hr>							
						</td>
					</tr>
					<tr>
						<td style="vertical-align: top;">
							<img src="assets/images/icons8-new-post-64.png" style="width: 60%;">
						</td>
						<td>
							<p class="font_9">
								join our team at the bar
								Contact us at info@mysite.com
							</p>
							<hr>							
						</td>
					</tr>
				</table>
			</div>
		</div>	
	</div>
</div>


