<agm-map [latitude]="lat" [longitude]="lng">
	<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<div style="background: #e8e8e8;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7">
				<div 
					data-packed="true" 
					class="txtNew" 
					id="comp-ikmsbhic" 
					style="margin-top: 50px;"
				>
					<h4 class="font_4" style="line-height:1em; text-align:center;">
						<a 
							href="#" 
							target="_self"
							style="color: #2F2E2E !important;" 
						>
							DaKoTa
						</a>
					</h4>
					<p 
						class="font_9" 
						style="line-height:1em; text-align:center;"
					>
						RESTAURANT
					</p>				
				</div>			
			</div>
			<div class="col-md-5" style="margin-top: 50px;">
				<p class="font_9">
					CONTACT
				</p>
				<p></p>

				<p class="font_9 color_15">
					24 avenue Marceau , 75008 Paris
				</p>
				<p></p>
				<p></p>

				<p class="font_9 color_15">
					01 75 88 99 00<br>
					Ouvert de 11 h à 15 h et de 18h à 23h30 
				</p>
				<p></p>
				<p></p>

				<p class="font_9">
					Carte bleu , ticket restaurant et <br>
					chèques vacances accépté
				</p>
				<p></p>

				<p class="font_9">
					join our team at the bar<br>
					Contact us at info@mysite.com
				</p>
			</div>
		</div>	
	</div>
</div>


