<div class="bandeaurose">
    <p>
        24 avenue Marceau , 75008 Paris    |  01 75 88 99 00 |  Ouvert de 11 h à 15 h et de 18h à 23h30
    </p>
</div>

<div parallax class="parallax-home" [config]="{axis: X, speed: -.2}">
    <div class="content_text">
        <h3 class="font_3" style="line-height:0.9em; text-align:center;">
            <span style="color:#FAFAFA;">
                <span style="letter-spacing:-0.05em;">DaKoTa</span>
            </span>
        </h3>
        <br><br>
        <p class="resto">
            Restaurant
        </p>
        <br><br><br>
        <p class="carte">
            La Carte
        </p>
    </div>
</div>

<!-- <div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center; margin-top: 5px; ">
            <div 
                data-packed="true" 
                class="txtNew" 
                id="comp-ikmo799g" 
                style="left: 65px; width: 850px; position: absolute; top: 230px;">
                <h3 class="font_3" style="line-height:0.9em; text-align:center;">
                    <span style="color:#FAFAFA;">
                        <span style="letter-spacing:-0.05em;">DaKoTa</span>
                    </span>
                </h3>
            </div>
            <div 
                data-packed="true" 
                class="txtNew" 
                id="comp-ikpj53mv" 
                style="left: 266px; width: 447px; position: absolute; top: 411px;"
            >
                <h5 class="font_5" style="line-height:1.6em; text-align:center;">
                    <span style="letter-spacing:0.1em;">
                        <span class="color_11">Restaurant</span>
                    </span>
                </h5>
            </div>
        </div>
    </div>
</div> -->